@import url("https://fonts.googleapis.com/css?family=Muli:300,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e0e1dd;
  font-family: "Muli", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #0d1b2a;
}

.container {
  position: relative;
  background-color: #ced4da;
  border: 3px solid #1b263b;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  padding: 0 10px;
}

.code {
  background-color: #adb5bd;
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid #eee;
  margin: 1%;
  text-align: center;
  font-weight: 300;
}
